body{
    margin: 0;
    padding: 0;
    background: url(background.png);   
    background-size: 100%;
}

.servidor{
    padding: 15px;
    margin: 20px auto;
    text-align: center;
}

label{
    text-align: center;
    color: whitesmoke;
    font-size: large;
    font-family: 'Monoton', cursive;
}